<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

  <body>

    <h1>{{category.name}}</h1>

    <!--MESSAGE FLASHING EXAMPLE -->
      {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li><strong>{{message}}</strong></li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}

      <div>
        <br>
        <a class="buttons" href="{{ url_for('showCatalog') }}">Return to Homepage</a>
      </div>

    <div ="categories">
    {% for i in items %}

      <div class="Box1">

        <h2>{{i.name}}</h2>

        <h4>{{i.description}}</h4>
        <br>
        <div class="newItem">
          <a href='{{url_for('showItem', category_id = category.id, item_id = i.id) }}'>Show Item</a>
      </div>
    </div>

    {% endfor %}
  </body>

</html>
