<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

  <body>

    <div class="Box1">
      <h1>{{item.name}}</h1>
    </div>

    <h4>{{item.description}}</h4>


    <a href='{{url_for('editItem', category_id = category.id, item_id = item.id) }}'>Edit</a>
    <br>
    <a href='{{url_for('deleteItem', category_id = category.id, item_id = item.id) }}'>Delete</a>
    <br>
    <br>
    <div>
      <a class="buttons" href="{{ url_for('showCatalog') }}">Return to Homepage</a>
    </div>

  </body>

</html>
